
incrementalSave/
.mayaSwatches/Guoba Emote.mb.swatches
.mayaSwatches/Skele_warrior.mb.swatches
*.swatches
*.swatches
.mayaSwatches/Guoba Emote.mb.swatches
*.swatches
Video.avi
OBJ/Petra_textured.fbx
*.blend1
Videos/Mythbreak/Alchemist/AlchemistVFX_Breakdown.mp4
Videos/Mythbreak/Bumling/BumlingVFX_Breakdown.mp4
Videos/Mythbreak/Bumling/BumlingVFX_Showcase.mp4
Videos/Mythbreak/Jester/JesterVFX_Breakdown.mp4
Videos/Mythbreak/Jester/JesterVFX_Showcase.mp4
Videos/Mythbreak_Showreel.mp4
